@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background: #1b2029;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    min-height: 100vh;

}
main {

    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
main h1 {

    color:#8880fe;
    font-size:3rem;
    margin-bottom: 3rem;

}
main .social-media{
    display:flex;
    align-content: center;

}
main .social-media  img{
    width: 36px;


}